@import "baseline/_normalize";
@import "baseline/_baseline";

.edenlp {
    background-color: #f46c23;
}
.edenOpen{
    display: block;
}
.edenClose{
    display: none;
}
.edenFlex{
    display: flex;
}
[v-cloak] {
    display: none !important;
}

//遮罩
.edenMask{
    position:fixed;
    left:0px;
    top:0px;
    background-color:#000;
    width:100%;
    height: 100%;
    filter:alpha(opacity=60);
    opacity:0.6;
    display:none; 
    z-Index:300;
}