@import "baseline/_normalize";
@import "baseline/_baseline";
@import "tabs/_tabsHorizontal";
@import "tabs/_tabsVertical";

.edenlp {
    background-color: #f46c23;
}
.edenOpen{
    display: block;
}
.edenClose{
    display: none;
}
.edenFlex{
    display: flex;
}