header {
  background-color: #555555;
  height: 48px;
  line-height: 48px;
  font-weight: bold;
}

header .hamburger {
  display: inline;
  text-decoration: none;
}

header div {
  background-color: #555555;
}

header h1 {
  color: white;
  font-size: 24px;
  height: 48px;
  line-height: 48px;
}

header h1 span {
  margin-left: 8px;
}

header .edenMenu {
  text-align: center;
  z-index: 9998;
  display: none;
}

header .edenMenu:hover {
  background-color: #717171;
}

header a {
  color: white;
  font-size: 20px;
}

header a:hover {
  color: white;
}

header a:active {
  color: white;
}

header .edenUserData {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 48px;
  height: 48px;
  z-index: 9999;
}

header .edenUserData .sub {
  background-color: white;
  border-radius: 10px;
  position: fixed;
  width: 200px;
  right: 20px;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px #d7d7d7;
          box-shadow: 2px 2px 2px #d7d7d7;
  border: 1px #f2f2f2 solid;
}

header .edenUserData .sub a {
  color: #555555;
  font-size: 24px;
}

header .edenUserData .sub a:hover {
  color: #555555;
}

header .edenUserData .sub a:active {
  color: #555555;
}

header .edenUserData:hover {
  background-color: #757575;
}

.edenHeader2 div:nth-child(1) a {
  text-decoration: none;
}

.edenHeader2 .edenSurchBar {
  position: absolute;
  top: 0px;
  right: 48px;
  font-size: 24px;
  height: 48px;
}

.edenHeader2 .edenSurchBar #edenSearch {
  background-color: #757575;
  border: 0;
  outline: none;
  width: 150px;
  height: 48px;
}

.edenHeader2 .edenSurchBar #edenSurchOpenClose {
  font-size: 24px;
  width: 48px;
  text-align: center;
}

.edenHeader2 .edenSurchBar #edenSurchSubmit {
  font-size: 24px;
  width: 48px;
  text-align: center;
}

.FixNav_2phone ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.FixNav_2phone ul li {
  position: relative;
}

.FixNav_2phone ul li p {
  margin: 0;
}

.FixNav_2phone ul li p a {
  background: #555555;
  color: #fff;
  font-size: 12pt;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

.FixNav_2phone ul li p a:hover {
  background-color: #555555;
  color: #000000;
  text-decoration: none;
}

.FixNav_2phone ul li a[href="#foo"] {
  height: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.FixNav_2phone ul li a[href="#foo"]::before {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 27px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
}

.FixNav_2phone ul li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.FixNav_2phone ul li ul li a {
  background: #A28f8f;
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  height: 20px;
}

.FixNav_2phone ul li ul li a:hover {
  background: #938181;
}

.FixNav_2phone ul ul:target {
  max-height: 800px;
  -webkit-transition: max-height 2s ease-out;
  transition: max-height 2s ease-out;
}

.FixNav_1phone ul {
  list-style: none;
  margin: 0;
  width: 328px;
  margin: 0 auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.FixNav_1phone ul li {
  position: relative;
  padding: 8px;
}

.FixNav_1phone ul li div {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.FixNav_1phone ul li div p {
  margin: 0;
}

.FixNav_1phone ul li div p a {
  color: #000000;
  font-size: 12pt;
  display: block;
  padding: 6px;
  text-decoration: none;
  font-weight: bold;
}

.FixNav_1phone ul li p a:hover {
  background-color: #555555;
  color: #000000;
  text-decoration: none;
}

.FixNav_1phone ul li a[href="#foo"] {
  height: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.FixNav_1phone ul li a[href="#foo"]::before {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 27px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
}

.FixNav_1phone ul li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.FixNav_1phone ul li ul li a {
  background: #555555;
  display: block;
  text-decoration: none;
  padding: 8px;
  color: #ffffff;
  height: 16px;
}

.FixNav_1phone ul li ul li a:hover {
  background: #555555;
}

.FixNav_1phone ul ul:target {
  max-height: 800px;
  -webkit-transition: max-height 2s ease-out;
  transition: max-height 2s ease-out;
}

.FixNavWithHierarchy_phone ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.FixNavWithHierarchy_phone ul li label {
  background: #555555;
  /* fallback colour */
  color: #fff;
  text-shadow: 0 1px 1px #000;
  display: block;
  padding: 14px;
  font-size: 14pt;
  padding-left: 120px;
  padding-right: 120px;
}

.FixNavWithHierarchy_phone ul li input[type='radio'] {
  display: none;
}

.FixNavWithHierarchy_phone ul li i {
  font-size: 16pt;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}

.FixNavWithHierarchy_phone ul li span {
  display: inline;
  float: right;
  background: #555555;
  font-size: 14pt;
  text-align: center;
}

.FixNavWithHierarchy_phone ul li label:hover {
  background: #999999;
  /* fallback colour */
}

.FixNavWithHierarchy_phone ul li label:hover span {
  background: #999999;
}

.FixNavWithHierarchy_phone ul li input[type='radio']:checked ~ label {
  background: #999999;
  /* fallback colour */
}

.FixNavWithHierarchy_phone ul li input[type='radio']:checked ~ label span {
  background: #999999;
  /* fallback colour */
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-right: 5px;
  text-align: center;
}

.FixNavWithHierarchy_phone ul li input[type='radio']:checked ~ .options {
  height: auto;
  display: block;
  min-height: 40px;
  max-height: 400px;
}

.FixNavWithHierarchy_phone ul ul {
  background: #555555;
  color: #FFFFFF;
}

.FixNavWithHierarchy_phone ul ul li a {
  display: block;
  padding: 6px 12px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 60px;
  font-size: 12pt;
  padding-left: 160px;
}

.FixNavWithHierarchy_phone ul ul li a:hover {
  color: #FFFFFF;
  background-color: #999999;
  text-decoration: none;
}

.FixNavWithHierarchy_phone ul ul li a span {
  color: #FFFFFF;
}

.FixNavWithHierarchy_phone .options {
  height: 0;
  display: block;
  overflow: hidden;
}

.NavBasWithHierarchy ul {
  list-style: none;
  margin: 0;
  margin: 0 auto;
  width: 100%;
}

.NavBasWithHierarchy ul li label {
  background: #555555;
  /* fallback colour */
  color: #fff;
  text-shadow: 0 1px 1px #000;
  display: block;
  padding: 14px;
  font-size: 14pt;
  padding-left: 120px;
  padding-right: 120px;
}

.NavBasWithHierarchy ul li input[type='radio'] {
  display: none;
}

.NavBasWithHierarchy ul li i {
  font-size: 16pt;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}

.NavBasWithHierarchy ul li span {
  display: inline;
  float: right;
  background: #555555;
  font-size: 14pt;
  text-align: center;
}

.NavBasWithHierarchy ul li label:hover {
  background: #999999;
  /* fallback colour */
}

.NavBasWithHierarchy ul li label:hover span {
  background: #999999;
}

.NavBasWithHierarchy ul li input[type='radio']:checked ~ label {
  background: #999999;
  /* fallback colour */
}

.NavBasWithHierarchy ul li input[type='radio']:checked ~ label span {
  background: #999999;
  /* fallback colour */
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-right: 5px;
  text-align: center;
}

.NavBasWithHierarchy ul li input[type='radio']:checked ~ .options {
  height: auto;
  display: block;
  min-height: 40px;
  max-height: 400px;
}

.NavBasWithHierarchy ul ul {
  background: #555555;
  color: #FFFFFF;
}

.NavBasWithHierarchy ul ul li a {
  display: block;
  padding: 6px 12px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 60px;
  font-size: 12pt;
  padding-left: 160px;
}

.NavBasWithHierarchy ul ul li a:hover {
  color: #FFFFFF;
  background-color: #999999;
  text-decoration: none;
}

.NavBasWithHierarchy ul ul li a span {
  color: #FFFFFF;
}

.NavBasWithHierarchy .options {
  height: 0;
  display: block;
  overflow: hidden;
}

.NavBas_phone ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.NavBas_phone ul li {
  position: relative;
  padding: 8px;
}

.NavBas_phone ul li div p {
  margin: 0;
}

.NavBas_phone ul li div p a {
  color: #FFFFFF;
  font-size: 12pt;
  display: block;
  padding-left: 150px;
  text-decoration: none;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.NavBas_phone ul li p a:hover {
  background-color: #999999;
  color: #000000;
  text-decoration: none;
}

.NavBas_phone ul li a[href="#foo"] {
  height: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.NavBas_phone ul li a[href="#foo"]::before {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 27px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
}

.NavBas_phone ul li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.NavBas_phone ul li ul li a {
  background: #555555;
  display: block;
  text-decoration: none;
  padding: 8px;
  color: #ffffff;
  height: 16px;
}

.NavBas_phone ul li ul li a:hover {
  background: #555555;
}

.NavBas_phone ul ul:target {
  max-height: 800px;
  -webkit-transition: max-height 2s ease-out;
  transition: max-height 2s ease-out;
}

.hamburg {
  display: block;
  text-decoration: none;
  width: 48px;
  height: 48px;
  overflow: hidden;
  background-color: #555555;
  color: white;
  text-align: center;
}

.hamburg table {
  width: 48px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
}

.hamburg:hover {
  text-decoration: none;
  background: #999999;
}

.edenlpHiInside a {
  display: block;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
}

.edenNavFix_1 {
  padding: 0;
  height: 0;
}

.edenNavFix_1 div:nth-child(1) {
  background-color: #555555;
  text-align: center;
}

.edenNavFix_1 div:nth-child(1) ul {
  display: none;
}

.edenNavFix_1 div:nth-child(1) ul li > a {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
  background-color: #ffffff;
  margin: 20px;
  padding: 10px 0;
  border-radius: 5px;
}

.edenNavFix_1 div:nth-child(1) ul li > a:hover {
  background-color: #797979;
}

.edenNavFix_2 {
  padding: 0;
  height: 0;
}

.edenNavFix_2 div:nth-child(1) {
  text-align: center;
  background-color: #555555;
  padding: 0;
}

.edenNavFix_2 div:nth-child(1) ul {
  display: none;
}

.edenNavFix_2 div:nth-child(1) ul li > a {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
}

.edenNavFix_2 div:nth-child(1) ul a:hover {
  background-color: #797979;
}

.edenNavBas {
  position: absolute;
  padding: 0;
  width: 100%;
  top: 48px;
}

.edenNavBas ul {
  display: none;
  width: 100%;
  overflow: hidden;
  background-color: #555555;
  padding: 0;
}

.edenNavBas ul li a {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 16px 16px;
}

.edenNavBas ul li a:hover {
  background-color: #797979;
}

.edenNavBasHi_1 {
  position: absolute;
  padding: 0;
  width: 100%;
  top: 48px;
}

.edenNavBasHi_1 ul {
  height: 100%;
  background-color: #555555;
  padding: 0;
  display: none;
  overflow: hidden;
}

.edenNavBasHi_1 ul li .edenlpHiA {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
}

.edenNavBasHi_1 ul li .edenlpHiA span {
  margin: 0 10px;
}

.edenNavBasHi_1 ul li a:hover {
  background-color: #797979;
}

.edenNavBasHi_2 {
  padding: 0;
  height: 0;
}

.edenNavBasHi_2 div:nth-child(1) {
  text-align: center;
  background-color: #555555;
  padding: 0;
}

.edenNavBasHi_2 div:nth-child(1) ul {
  display: none;
}

.edenNavBasHi_2 div:nth-child(1) ul li > a {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
}

.edenNavBasHi_2 div:nth-child(1) ul a:hover {
  background-color: #797979;
}
/*# sourceMappingURL=style_phone.css.map */