header {
  background-color: #555555;
  height: 64px;
  line-height: 64px;
  overflow: hidden;
  font-weight: bold;
  z-index: 100;
}

header .titleCenter {
  text-align: center;
}

header .hamburger {
  display: none;
}

header div {
  background-color: #555555;
}

header h1 {
  color: white;
  font-size: 32px;
  height: 68px;
  line-height: 64px;
}

header h1 span {
  margin-left: 12px;
}

header .edenMenu {
  text-align: center;
  z-index: 9998;
}

header .edenMenu:hover {
  background-color: #717171;
}

header a {
  color: white;
  font-size: 24px;
}

header a:hover {
  color: white;
}

header a:active {
  color: white;
}

header .edenUserData {
  position: absolute;
  top: 0;
  right: 0px;
  text-align: center;
  width: 64px;
  height: 64px;
  z-index: 9999;
}

header .edenUserData #edenUserIcon {
  font-size: 32px;
}

header .edenUserData .sub {
  background-color: white;
  border-radius: 10px;
  position: fixed;
  width: 200px;
  right: 20px;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px #d7d7d7;
          box-shadow: 2px 2px 2px #d7d7d7;
  border: 1px #f2f2f2 solid;
}

header .edenUserData .sub a {
  color: #555555;
  font-size: 24px;
}

header .edenUserData .sub a:hover {
  color: #555555;
}

header .edenUserData .sub a:active {
  color: #555555;
}

header .edenUserData:hover {
  background-color: #757575;
}

.edenHeader2 div:nth-child(1) a {
  text-decoration: none;
}

.edenHeader2 .edenSurchBar {
  position: absolute;
  top: 0;
  right: 100px;
  padding-top: 2px;
  font-size: 24px;
  height: 64px;
}

.edenHeader2 .edenSurchBar #edenSearch {
  background-color: #757575;
  border: 0;
  outline: none;
  width: 300px;
  height: 60px;
}

.edenHeader2 .edenSurchBar #edenSurchOpenClose {
  font-size: 32px;
  width: 64px;
  text-align: center;
}

.edenHeader2 .edenSurchBar #edenSurchSubmit {
  font-size: 32px;
  width: 64px;
  text-align: center;
}

.FixNav_2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.FixNav_2 ul li {
  position: relative;
}

.FixNav_2 ul li p {
  margin: 0;
}

.FixNav_2 ul li p a {
  background: #555555;
  color: #fff;
  font-size: 16pt;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  text-decoration: none;
  font-weight: bold;
}

.FixNav_2 ul li p a:hover {
  background-color: #999999;
  color: #000000;
  text-decoration: none;
}

.FixNav_2 ul li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.FixNav_1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.FixNav_1 ul li {
  position: relative;
  padding: 8px;
}

.FixNav_1 ul li div {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.FixNav_1 ul li p {
  margin: 0;
}

.FixNav_1 ul li p a {
  color: #000000;
  font-size: 16pt;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  text-decoration: none;
  font-weight: bold;
}

.FixNav_1 ul li p a:hover {
  background-color: #555555;
  color: #000000;
  text-decoration: none;
}

.FixNav_1 ul li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.FixNavWithHierarchy ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.FixNavWithHierarchy ul li label {
  background: #555555;
  /* fallback colour */
  color: #fff;
  text-shadow: 0 1px 1px #000;
  display: block;
  padding: 14px;
  width: 100%;
  font-size: 16pt;
}

.FixNavWithHierarchy ul li input[type='radio'] {
  display: none;
}

.FixNavWithHierarchy ul li i {
  font-size: 16pt;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}

.FixNavWithHierarchy ul li span {
  display: inline;
  float: right;
  background: #555555;
  font-size: 16px;
  text-align: center;
}

.FixNavWithHierarchy ul li label:hover {
  background: #999999;
  /* fallback colour */
}

.FixNavWithHierarchy ul li label:hover span {
  background: #999999;
}

.FixNavWithHierarchy ul li input[type='radio']:checked ~ label {
  background: #999999;
  /* fallback colour */
}

.FixNavWithHierarchy ul li input[type='radio']:checked ~ label span {
  background: #999999;
  /* fallback colour */
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-right: 5px;
  text-align: center;
}

.FixNavWithHierarchy ul li input[type='radio']:checked ~ .options {
  height: auto;
  display: block;
  min-height: 40px;
  max-height: 400px;
}

.FixNavWithHierarchy ul ul {
  background: #555555;
  color: #FFFFFF;
}

.FixNavWithHierarchy ul ul li a {
  display: block;
  padding: 6px 12px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 60px;
  font-size: 14pt;
}

.FixNavWithHierarchy ul ul li a:hover {
  color: #FFFFFF;
  background-color: #999999;
  text-decoration: none;
}

.FixNavWithHierarchy ul ul li a span {
  color: #FFFFFF;
}

.FixNavWithHierarchy .options {
  height: 0;
  display: block;
  overflow: hidden;
}

.NavBasWithHierarchy ul {
  list-style: none;
  margin: 0;
  padding-left: 8px;
  width: 100%;
  margin: 0 auto;
}

.NavBasWithHierarchy ul li label {
  background: #555555;
  /* fallback colour */
  color: #fff;
  text-shadow: 0 1px 1px #000;
  display: block;
  width: 100%;
  font-size: 16pt;
  padding: 14px;
}

.NavBasWithHierarchy ul li input[type='radio'] {
  display: none;
}

.NavBasWithHierarchy ul li i {
  font-size: 16pt;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}

.NavBasWithHierarchy ul li span {
  display: inline;
  float: right;
  background: #555555;
  font-size: 16px;
  text-align: center;
}

.NavBasWithHierarchy ul li label:hover {
  background: #999999;
  /* fallback colour */
}

.NavBasWithHierarchy ul li label:hover span {
  background: #999999;
}

.NavBasWithHierarchy ul li input[type='radio']:checked ~ label {
  background: #999999;
  /* fallback colour */
}

.NavBasWithHierarchy ul li input[type='radio']:checked ~ label span {
  background: #999999;
  /* fallback colour */
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-right: 5px;
  text-align: center;
}

.NavBasWithHierarchy ul li input[type='radio']:checked ~ .options {
  height: auto;
  display: block;
  min-height: 40px;
  max-height: 400px;
}

.NavBasWithHierarchy ul ul {
  background: #555555;
  color: #FFFFFF;
}

.NavBasWithHierarchy ul ul li a {
  display: block;
  padding: 6px 12px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 60px;
  font-size: 14pt;
}

.NavBasWithHierarchy ul ul li a:hover {
  color: #FFFFFF;
  background-color: #999999;
  text-decoration: none;
}

.NavBasWithHierarchy ul ul li a span {
  color: #FFFFFF;
}

.NavBasWithHierarchy .options {
  height: 0;
  display: block;
  overflow: hidden;
}

.divBlack {
  width: 328px;
  height: 910px;
  background-color: #555555;
  z-index: -1;
  position: absolute;
  top: 64px;
  left: -328px;
}

.NavBas {
  width: 64px;
  background-color: #555555;
  height: 910px;
}

.NavBas ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.NavBas ul li {
  position: relative;
  padding: 8px;
}

.NavBas ul li div {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.NavBas ul li p {
  margin: 0;
}

.NavBas ul li p a {
  color: #000000;
  font-size: 16pt;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-weight: bold;
}

.NavBas ul li p a:hover {
  background-color: #555555;
  color: #000000;
  text-decoration: none;
}

.NavBas ul li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.NavBas_Detail {
  background-color: #555555;
  height: 910px;
}

.NavBas_Detail ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBas_Detail ul li {
  position: relative;
  padding: 8px;
}

.NavBas_Detail ul li p {
  margin: 0;
}

.NavBas_Detail ul li p a {
  color: #FFFFFF;
  font-size: 16pt;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-weight: bold;
}

.NavBas_Detail ul li p a:hover {
  background-color: #555555;
  color: #000000;
  text-decoration: none;
}

.NavBas_Detail ul li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.NavBasLR {
  width: 64px;
  background-color: #555555;
  height: 910px;
}

.NavBasLR ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.NavBasLR ul li {
  position: relative;
}

.NavBasLR ul li div {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.NavBasLR ul li p {
  margin: 0;
}

.NavBasLR ul li p a {
  color: #000000;
  font-size: 16pt;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-weight: bold;
}

.NavBasLR ul li p a:hover {
  background-color: #999999;
  text-decoration: none;
}

.NavBasLR ul li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.NavBas_DetailLR {
  background-color: #555555;
  height: 910px;
  position: absolute;
  left: -320px;
  top: 64px;
  width: 320px;
}

.NavBas_DetailLR ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBas_DetailLR ul li {
  position: relative;
  padding: 8px;
}

.NavBas_DetailLR ul li p {
  margin: 0;
}

.NavBas_DetailLR ul li p a {
  color: #FFFFFF;
  font-size: 16pt;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-weight: bold;
}

.NavBas_DetailLR ul li p a:hover {
  background-color: #555555;
  color: #000000;
  text-decoration: none;
}

.NavBas_DetailLR ul li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.hamburg {
  display: block;
  text-decoration: none;
  width: 64px;
  height: 64px;
  overflow: hidden;
  background-color: #555555;
  color: white;
  text-align: center;
}

.hamburg table {
  width: 64px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
}

.hamburg:hover {
  text-decoration: none;
  background: #999999;
}

.edenlpHiInside a {
  display: block;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
}

.edenNavFix_1 {
  height: 93%;
}

.edenNavFix_1 div:nth-child(1) {
  text-align: center;
  height: 100%;
  background-color: #555555;
}

.edenNavFix_1 div:nth-child(1) ul li > a {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
  background-color: #ffffff;
  margin: 20px 0;
  padding: 10px 0;
  border-radius: 5px;
}

.edenNavFix_1 div:nth-child(1) ul li > a:hover {
  background-color: #797979;
}

.edenNavFix_2 {
  height: 93%;
}

.edenNavFix_2 div:nth-child(1) {
  text-align: center;
  height: 100%;
  background-color: #555555;
  padding: 0;
}

.edenNavFix_2 div:nth-child(1) ul {
  width: 100%;
}

.edenNavFix_2 div:nth-child(1) ul li > a {
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
}

.edenNavFix_2 div:nth-child(1) ul a:hover {
  background-color: #797979;
}

.edenNavBas {
  position: absolute;
  padding: 0;
  height: 93%;
  top: 64px;
}

.edenNavBas ul {
  height: 100%;
  background-color: #555555;
  padding: 0;
}

.edenNavBas ul li a {
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 20px 18px;
}

.edenNavBas ul li a span {
  display: none;
}

.edenNavBas ul li a:hover {
  background-color: #797979;
}

.edenNavBasHi_1 {
  position: absolute;
  padding: 0;
  height: 93%;
  top: 64px;
}

.edenNavBasHi_1 ul {
  height: 100%;
  background-color: #555555;
  padding: 0;
}

.edenNavBasHi_1 ul li {
  display: none;
}

.edenNavBasHi_1 ul li .edenlpHiA {
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 18px;
}

.edenNavBasHi_1 ul li .edenlpHiA span {
  margin: 0 10px;
}

.edenNavBasHi_1 ul li a:hover {
  background-color: #797979;
}

.edenNavBasHi_2 {
  height: 93%;
}

.edenNavBasHi_2 div:nth-child(1) {
  text-align: center;
  height: 100%;
  background-color: #555555;
  padding: 0;
}

.edenNavBasHi_2 div:nth-child(1) ul {
  width: 100%;
}

.edenNavBasHi_2 div:nth-child(1) ul li > a {
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

.edenNavBasHi_2 div:nth-child(1) ul a:hover {
  background-color: #797979;
}

.rp_ContentDetail {
  margin-top: 50px;
  word-wrap: break-word;
  word-break: break-all;
}

.rp_ContentDetail div {
  width: 100%;
  background-color: #d7d7d7;
  padding: 20px 0;
  border: 1px solid black;
}

.rp_ContentDetail ul li {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.rp_ContentDetail ul li:hover {
  background-color: #ffffff;
}
/*# sourceMappingURL=style_pc.css.map */