header {
  background-color: #555555;
  height: 48px;
  line-height: 48px;
  font-weight: bold;
}

header .hamburger {
  display: inline;
  text-decoration: none;
}

header div {
  background-color: #555555;
}

header h1 {
  color: white;
  font-size: 24px;
  height: 48px;
  line-height: 48px;
}

header h1 span {
  margin-left: 8px;
}

header .edenMenu {
  text-align: center;
  z-index: 200;
  display: none;
}

header .edenMenu:hover {
  background-color: #717171;
}

header a {
  color: white;
  font-size: 20px;
}

header a:hover {
  color: white;
}

header a:active {
  color: white;
}

header .edenUserData {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 48px;
  height: 48px;
  z-index: 300;
}

header .edenUserData .sub {
  background-color: white;
  border-radius: 10px;
  position: fixed;
  width: 200px;
  right: 20px;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px #d7d7d7;
          box-shadow: 2px 2px 2px #d7d7d7;
  border: 1px #f2f2f2 solid;
}

header .edenUserData .sub a {
  color: #555555;
  font-size: 24px;
}

header .edenUserData .sub a:hover {
  color: #555555;
}

header .edenUserData .sub a:active {
  color: #555555;
}

header .edenUserData:hover {
  background-color: #757575;
}

.edenHeader2 div:nth-child(1) a {
  text-decoration: none;
}

.edenHeader2 .edenSurchBar {
  position: absolute;
  top: 0px;
  right: 48px;
  font-size: 24px;
  height: 48px;
}

.edenHeader2 .edenSurchBar #edenSearch {
  background-color: #757575;
  border: 0;
  outline: none;
  width: 150px;
  height: 48px;
}

.edenHeader2 .edenSurchBar #edenSurchOpenClose {
  font-size: 24px;
  width: 48px;
  text-align: center;
}

.edenHeader2 .edenSurchBar #edenSurchSubmit {
  font-size: 24px;
  width: 48px;
  text-align: center;
}

.edenlpHiInside a {
  display: block;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
}

.edenNavFix_1 {
  padding: 0;
  height: 0;
}

.edenNavFix_1 div:nth-child(1) {
  background-color: #555555;
  text-align: center;
}

.edenNavFix_1 div:nth-child(1) ul {
  display: none;
}

.edenNavFix_1 div:nth-child(1) ul li > a {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
  background-color: #ffffff;
  margin: 20px;
  padding: 10px 0;
  border-radius: 5px;
}

.edenNavFix_1 div:nth-child(1) ul li > a:hover {
  background-color: #797979;
}

.edenNavFix_2 {
  padding: 0;
  height: 0;
}

.edenNavFix_2 div:nth-child(1) {
  text-align: center;
  background-color: #555555;
  padding: 0;
}

.edenNavFix_2 div:nth-child(1) ul {
  display: none;
}

.edenNavFix_2 div:nth-child(1) ul li > a {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
}

.edenNavFix_2 div:nth-child(1) ul a:hover {
  background-color: #797979;
}

.edenNavBas {
  position: absolute;
  padding: 0;
  width: 100%;
  top: 48px;
}

.edenNavBas ul {
  display: none;
  width: 100%;
  overflow: hidden;
  background-color: #555555;
  padding: 0;
}

.edenNavBas ul li a {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 16px 16px;
}

.edenNavBas ul li a:hover {
  background-color: #797979;
}

.edenNavBasHi_1 {
  position: absolute;
  padding: 0;
  width: 100%;
  top: 48px;
}

.edenNavBasHi_1 ul {
  height: 100%;
  background-color: #555555;
  padding: 0;
  display: none;
  overflow: hidden;
}

.edenNavBasHi_1 ul li .edenlpHiA {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
}

.edenNavBasHi_1 ul li .edenlpHiA span {
  margin: 0 10px;
}

.edenNavBasHi_1 ul li a:hover {
  background-color: #797979;
}

.edenNavBasHi_2 {
  padding: 0;
  height: 0;
}

.edenNavBasHi_2 div:nth-child(1) {
  text-align: center;
  background-color: #555555;
  padding: 0;
}

.edenNavBasHi_2 div:nth-child(1) ul {
  display: none;
}

.edenNavBasHi_2 div:nth-child(1) ul li > a {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
}

.edenNavBasHi_2 div:nth-child(1) ul a:hover {
  background-color: #797979;
}

i.fa-close, i.fa-thumb-tack {
  cursor: pointer;
  font-size: 24px;
}

.rp_title {
  text-align: center;
  display: none;
  margin-bottom: 16px;
  padding-bottom: 10px;
  font-size: 24px;
  -webkit-box-shadow: 0px 6px 6px -6px #000;
          box-shadow: 0px 6px 6px -6px #000;
}

.rp_formTitle {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  padding-bottom: 10px;
  font-size: 24px;
  -webkit-box-shadow: 0px 6px 6px -6px #000;
          box-shadow: 0px 6px 6px -6px #000;
}

.edenFooter {
  width: 99.8%;
  text-align: center;
  display: none;
  bottom: 10px;
  position: absolute;
}

.rp_ContentDetail {
  margin-top: 50px;
  word-wrap: break-word;
  word-break: break-all;
}

.rp_ContentDetail div {
  width: 100%;
  background-color: #d7d7d7;
  padding: 20px 0;
  border: 1px solid black;
}

.rp_ContentDetail ul li {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.rp_ContentDetail ul li:hover {
  background-color: #ffffff;
}

.rp_Form {
  overflow: hidden;
  z-index: 400;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f0f0f0;
  border-radius: 2px;
  width: 100%;
}

.rp_Form form {
  margin: 10px;
  margin-bottom: 50px;
  display: none;
}

.rp_Form form h2 {
  font-size: 24px;
}

.rp_Form form label {
  margin-bottom: 6px;
}

.rp_toDoList {
  overflow: hidden;
  z-index: 400;
  position: absolute;
  bottom: 20px;
  right: 0;
  background-color: #f0f0f0;
  border-radius: 2px;
  width: 100%;
}

.rp_toDoList .rp_target {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.rp_toDoList .rp_target p {
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
}

.rp_toDoList .rp_target div {
  padding: 15px;
}

.rp_toDoList .rp_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.rp_toDoList .rp_content p {
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
}

.rp_toDoList .rp_content div {
  display: none;
  padding: 15px;
}

.inputClose {
  border: none;
}

.inputOpen {
  border: 1px solid #3B8D71;
}

.PhoneTable {
  overflow-x: auto;
  overflow-y: hidden;
}

.PhoneTable table th {
  min-width: 200px;
}

.PhoneTable table td {
  min-width: 200px;
}

.PhoneTable table th:nth-child(1) {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  left: 0;
  min-width: 100px;
  background-color: #333a40;
}

.PhoneTable table tbody th:nth-child(1) {
  color: white;
}

.IndependentTable table tbody tr {
  -webkit-box-shadow: 0px 8px 8px -4px #7B7B7B;
          box-shadow: 0px 8px 8px -4px #7B7B7B;
}

.IndependentTable table tbody tr:hover {
  background-color: #d7d7d7;
}

.ExpandableTable table th:last-of-type {
  min-width: 41px;
}

.ExpandableTable table td:last-of-type {
  min-width: 41px;
}

.ExpandableTable table tbody tr:nth-child(odd) {
  -webkit-box-shadow: 0px 8px 8px -4px #7B7B7B;
          box-shadow: 0px 8px 8px -4px #7B7B7B;
}

.ExpandableTable table tbody tr:nth-child(odd) td:last-of-type > i {
  color: #ed7d1e;
}

.ExpandableTable table tbody tr:nth-child(odd):hover {
  cursor: pointer;
}

.ExpandableTable table .tableDetail td {
  display: none;
  z-index: 400;
  position: fixed;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 70%;
  background-color: #d7d7d7;
}

.ExpandableTable table .tableDetail div {
  display: none;
}

.ExpandableTable table .tableDetail div .tableDetailClose {
  color: #ed7d1e;
  text-align: right;
}

.edenMultiTable {
  text-align: right;
  position: relative;
}

.edenMultiTable .tableBar div {
  background-color: #3B8D71;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edenMultiTable .tableBar div span:nth-child(1) {
  margin-left: 10px;
  font-weight: bolder;
  color: white;
  font-size: 16px;
}

.edenMultiTable .tableBar button {
  background-color: #3B8D71;
  border: none;
  outline: none;
  padding: 8px 8px;
  font-weight: bolder;
  color: white;
  font-size: 16px;
}

.edenMultiTable .tableBar button i {
  font-size: 16px;
}

.edenMultiTable .multiTable {
  overflow-x: scroll;
  overflow-y: hidden;
}

.edenMultiTable table {
  width: 100%;
  text-align: center;
  z-index: 200;
  position: relative;
}

.edenMultiTable table tbody {
  background-color: white;
  color: #7A5133;
}

.edenMultiTable table tr {
  -webkit-box-shadow: 0px 8px 8px -4px #7B7B7B;
          box-shadow: 0px 8px 8px -4px #7B7B7B;
}

.edenMultiTable table thead {
  background-color: #3B8D71;
  font-weight: bolder;
  color: white;
  font-size: 18px;
}

.edenMultiTable table thead th:nth-child(1) {
  font-size: 14px;
  padding: 2px;
}

.edenMultiTable table th:nth-child(1) {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  left: 0;
  min-width: 40px;
  background-color: #3B8D71;
}

.edenMultiTable table tbody input {
  outline: medium;
  text-align: center;
  color: #7A5133;
  width: 300px;
  padding: 5px 0;
  border-radius: 5px;
}

.edenMultiTable table tbody th {
  padding: 0px;
}

.edenMultiTable table tbody th label {
  margin-top: 18px;
}

.edenMultiTable table input[type='checkbox'] {
  display: none;
}
/*# sourceMappingURL=style_phone.css.map */