header {
    background-color: #555555;
    height: 48px;
    line-height: 48px;
    font-weight: bold;


    .hamburger {
        display: inline;
        text-decoration: none;
    }

    div {
        background-color: #555555;
    }

    h1 {
        color: white;
        font-size: 24px;
        height: 48px;
        line-height: 48px;
        span{
            margin-left: 8px;
        }
    }

    .edenMenu {
        text-align: center;
        z-index: 200;
        display: none;
    }

    .edenMenu:hover {
        background-color: #717171;
    }

    a {
        color: white;
        font-size: 20px;
    }

    a:hover {
        //當使用者滑鼠滑過去的時候
        color: white;
    }

    a:active {
        //當使用者點擊的時候
        color: white;
    }

    .edenUserData {
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        width: 48px;
        height: 48px;
        z-index: 300;

        .sub {
            a {
                color: #555555;
                font-size: 24px;
            }

            a:hover {
                //當使用者滑鼠滑過去的時候
                color: #555555;
            }

            a:active {
                //當使用者點擊的時候
                color: #555555;
            }

            background-color: white;
            border-radius: 10px;
            position: fixed;
            width: 200px;
            right: 20px;
            text-align: center;
            overflow: hidden;
            box-shadow: 2px 2px 2px #d7d7d7;
            border: 1px #f2f2f2 solid;
        }
    }

    .edenUserData:hover {
        background-color: #757575;
    }
}

.edenHeader2 {
    div:nth-child(1) a{
        text-decoration: none;
    }
    .edenSurchBar {
        position: absolute;
        top: 0px;
        right: 48px;
        font-size: 24px;
        height: 48px;

        #edenSearch {
            background-color: #757575;
            border: 0; // 去除未选中状态边框
            outline: none; // 去除选中状态边框
            width: 150px;
            height: 48px;
        }

        #edenSurchOpenClose {
            font-size: 24px;
            width: 48px;
            text-align: center;
        }

        #edenSurchSubmit {
            font-size: 24px;
            width: 48px;
            text-align: center;
        }
    }
}
