header {
    background-color: #555555;
    height: 64px;
    line-height: 64px;
    overflow: hidden;
    font-weight: bold;
    z-index: 100;

    .titleCenter{
        text-align: center;
    }
    .hamburger {
        display: none;
    }

    div {
        background-color: #555555;
    }

    h1 {
        color: white;
        font-size: 32px;
        height: 68px;
        line-height: 64px;
        span{
            margin-left: 12px;
        }
    }

    .edenMenu {
        text-align: center;
        z-index: 200;
    }

    .edenMenu:hover {
        background-color: #717171;
    }

    a {
        color: white;
        font-size: 24px;
    }

    a:hover { //當使用者滑鼠滑過去的時候
        color: white;
    }

    a:active { //當使用者點擊的時候
        color: white;
    }

    .edenUserData {
        position: absolute;
        top: 0;
        right: 0px;
        text-align: center;
        width: 64px;
        height: 64px;
        z-index: 300;

        #edenUserIcon {
            font-size: 32px;
        }

        .sub {
            a {
                color: #555555;
                font-size: 24px;
            }

            a:hover { //當使用者滑鼠滑過去的時候
                color: #555555;
            }

            a:active { //當使用者點擊的時候
                color: #555555;
            }

            background-color: white;
            border-radius: 10px;
            position: fixed;
            width: 200px;
            right: 20px;
            text-align: center;
            overflow: hidden;
            box-shadow: 2px 2px 2px #d7d7d7;
            border: 1px #f2f2f2 solid;
        }
    }

    .edenUserData:hover {
        background-color: #757575;
    }
}

.edenHeader2 {

    div:nth-child(1) a{
        text-decoration: none;
    }

    .edenSurchBar {
        position: absolute;
        top: 0;
        right: 100px;
        padding-top: 2px;
        font-size: 24px;
        height: 64px;

        #edenSearch {
            background-color: #757575;
            border: 0; // 去除未选中状态边框
            outline: none; // 去除选中状态边框
            width: 300px;
            height: 60px;
        }

        #edenSurchOpenClose {
            font-size: 32px;
            width: 64px;
            text-align: center;
        }

        #edenSurchSubmit {
            font-size: 32px;
            width: 64px;
            text-align: center;
        }
    }
}
