//菜單中的下拉選單
.edenlpHiInside{
    a{
        display: block;
        font-size: 20px;
        color: white;
        font-weight:bold;
        text-decoration:none;//去除超連結底線樣式
        text-align: center;
        padding: 5px 0;
    }
}

.edenNavFix_1{

    height: 93%;
    div:nth-child(1){
        text-align: center;
        height: 100%;
        background-color: #555555;
    }
    
    ul{
        li>a{
            font-size: 18px;
            color: black;
            font-weight:bold;
            text-decoration:none;//去除超連結底線樣式
            display: block;//整個區塊都能點擊超連結
            background-color: #ffffff;
            margin:20px 0;
            padding: 10px 0;
            border-radius:5px;
        }
        li>a:hover{
            background-color: #797979;
        }
    }

}

.edenNavFix_2{

    height: 93%;
    div:nth-child(1){
        text-align: center;
        height: 100%;
        background-color: #555555;
        padding: 0;
    }
    
    ul{
        width: 100%;
        li>a{
            font-size: 24px;
            color: white;
            font-weight:bold;
            text-decoration:none;//去除超連結底線樣式
            display: flex;//整個區塊都能點擊超連結 並且做成彈性盒子 讓裡面進行排列
            justify-content:space-around;
            padding: 20px 0;

        }
        a:hover{
            background-color: #797979;
        }

    }
}

.edenNavBas{
    position: absolute;
    padding: 0;
    height: 93%;
    top: 64px;
    ul{
        height: 100%;
        background-color: #555555;
        padding: 0;
        li{
            
            a{
                font-size: 24px;
                color: white;
                font-weight:bold;
                text-decoration:none;//去除超連結底線樣式
                display: block;//整個區塊都能點擊超連結
                padding: 20px 18px;
                span{
                    display: none;
                }
            }
            a:hover{
                background-color: #797979;
            }
        }

    }
}

.edenNavBasHi_1{
    position: absolute;
    padding: 0;
    height: 93%;
    top: 64px;
    ul{
        height: 100%;
        background-color: #555555;
        padding: 0;
        
        li{
            display: none;
            .edenlpHiA{
                font-size: 24px;
                color: white;
                font-weight:bold;
                text-decoration:none;//去除超連結底線樣式
                display: flex;//整個區塊都能點擊超連結 並且做成彈性盒子 讓裡面進行排列
                justify-content:space-between;
                padding: 20px 18px;

                span{
                    margin: 0 10px;
                }
            }
            a:hover{
                background-color: #797979;
            }

        }
    }
}

.edenNavBasHi_2{

    height: 93%;
    div:nth-child(1){
        text-align: center;
        height: 100%;
        background-color: #555555;
        padding: 0;
    }
    
    ul{
        width: 100%;
        li>a{
            font-size: 24px;
            color: white;
            font-weight:bold;
            text-decoration:none;//去除超連結底線樣式
            display: flex;//整個區塊都能點擊超連結 並且做成彈性盒子 讓裡面進行排列
            justify-content:space-between;
            padding: 20px 10px;

        }
        a:hover{
            background-color: #797979;
        }

    }
}