// ::-webkit-scrollbar {
//     /*隱藏滾輪*/
//     display: none;
// }
.BaseTable{
    overflow-x: auto;
    overflow-y: hidden;
    table{
        th{
            min-width: 200px;
        }
        td{
            min-width: 200px;
        }

        th:nth-child(1){
            position: sticky;
            z-index:100;
            left: 0;
            min-width: 100px;
            background-color: #333a40;
        }
        
        tbody{
            th:nth-child(1){
                color: white;
            }
        }
    }
}

.inputClose {
    outline: medium;
    border: none;
}

.edenMultiTable {
    text-align: right;
    position: relative;

    .tableBar {
        div {
            background-color: #3B8D71;
            width: 100%;
            position: absolute;
            z-index: 100;
            top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span:nth-child(1) {
                margin-left: 10px;
                font-weight: bolder;
                color: white;
                font-size: 16px;
            }
        }

        button {
            background-color: #3B8D71;
            border: none;
            outline: none;
            padding: 8px 8px;
            font-weight: bolder;
            color: white;
            font-size: 16px;
        }
    }

    table {
        width: 100%;
        text-align: center;
        z-index: 200;
        position: absolute;
        tbody{
            background-color: white;
            color: #7A5133;
        }
        tr{
            box-shadow:0px 8px 8px -4px #7B7B7B;
        }
        thead {
            background-color: #3B8D71;
            font-weight: bolder;
            color: white;
            font-size: 18px;
            
            th:nth-child(1) {
                font-size: 14px;
                padding: 2px;
            }
        }
        input {
            text-align: center;
            color: #7A5133;
            width: 100%;
        }

        input[type='checkbox'] {
            cursor: pointer;
            position: relative;
            width: 18px;
            height: 18px;
            font-size: 14px;
            visibility: hidden;
        }

        input[type='checkbox']::after {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            color: #3B8D71;
            width: 18px;
            height: 18px;
            display: inline-block;
            visibility: visible;
            padding-left: 0px;
            text-align: center;
            content: ' ';
            border: 1px solid black;
        }

        input[type='checkbox']:checked::after {
            content: '✓';
            font-size: 16px;
            font-weight: 1000;
        }

    }

}