.inputClose {
    border: none;
}
.inputOpen{
    border:1px solid #3B8D71;
}
.edenMultiTable {
    text-align: right;
    position: relative;

    .tableBar {
        div {
            background-color: #3B8D71;
            width: 100%;
            position: absolute;
            z-index: 100;
            top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span:nth-child(1) {
                margin-left: 25px;
                font-weight: bolder;
                color: white;
                font-size: 20px;
            }
        }

        button {
            background-color: #3B8D71;
            border: none;
            outline: none;
            padding: 10px 25px;
            font-weight: bolder;
            color: white;
            font-size: 18px;
            i{
                font-size: 18px;
                margin-right: 10px;
            }
        }
        span{

            button:hover{
                border:2px solid white;
            }
        }
    }

    table {
        width: 100%;
        text-align: center;
        z-index: 200;
        position: absolute;
        tbody{
            background-color: white;
            color: #7A5133;
        }
        tr{
            box-shadow:0px 8px 8px -4px #7B7B7B;
        }
        thead {
            background-color: #3B8D71;
            font-weight: bolder;
            color: white;
            font-size: 18px;
            
            th:nth-child(1) {
                font-size: 14px;
                padding: 2px;
            }
        }
        tbody{
            input {
                outline: medium;
                text-align: center;
                color: #7A5133;
                width: 100%;
                padding: 5px 0;
                border-radius:5px;
            }
            th{
                label{
                    margin-top: 8px;
                }
            }
        }
        input[type='checkbox'] {
            display: none;
        }

    }

}